@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@600&family=Share+Tech+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
}

body {
  background-size: 300%;
  background-image: linear-gradient(-15deg, #000000, #D4EBF8);
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-animation: bgMove 8s ease-in infinite alternate;
          animation: bgMove 8s ease-in infinite alternate;
}
body #container {
  width: 100%;
}
body #container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  height: 55vh;
  -webkit-clip-path: polygon(10% 0, 0 15%, 0 100%, 0% 100%, 90% 100%, 100% 85%, 100% 0%, 100% 0);
          clip-path: polygon(10% 0, 0 15%, 0 100%, 0% 100%, 90% 100%, 100% 85%, 100% 0%, 100% 0);
  position: relative;
  isolation: isolate;
}
body #container .box::after, body #container .box::before {
  position: absolute;
  content: "";
  inset: 0;
}
body #container .box::before {
  background-image: linear-gradient(-25deg, #3D4F72, #000000);
  z-index: -2;
}
body #container .box::after {
  background-image: linear-gradient(-8deg, #000000, #D4EBF8);
  z-index: -1;
  -webkit-clip-path: polygon(10% 8%, 8% 18%, 0% 100%, 8% 100%, 0% 100%, 92% 92%, 100% 0%, 100% 0%);
          clip-path: polygon(10% 8%, 8% 18%, 0% 100%, 8% 100%, 0% 100%, 92% 92%, 100% 0%, 100% 0%);
  /*clip-path: polygon筆記
      第1組 上面邊框寬、上面邊的高
     第2組  左邊邊框寬、左邊邊框下來的程度
     第3組  左邊邊框往右的程度、左邊邊框中間突起的下來程度
     第4組  左下角往右的程度、左下角下來的程度
    第5組  下面邊框寬、下面邊的高
    第6組  右邊邊框寬、右下角上來的程度
   第7組  右邊邊框往右的程度、右邊邊框的高
   第8組  上面邊框往右的程度、右上角下來的程度
  */
}
body #container .box .bar {
  position: relative;
  width: 75%;
  height: 1vh;
  background-color: #000000;
}
body #container .box .bar .time-words {
  position: absolute;
  width: 100%;
  top: 2vh;
  display: flex;
  justify-content: space-between;
}
body #container .box .bar .time-words .current-time {
  text-align: start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body #container .box .bar .time-words .song-duration {
  text-align: end;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body #container .box .bar .time {
  background-color: #00E4FF;
  width: 0%;
  position: absolute;
  height: 1vh;
}
body #container .box .bar .icon {
  position: absolute;
  top: -1vh;
  left: 0%;
  background-color: #00E4FF;
  width: 1.5vw;
  height: 3vh;
  -webkit-clip-path: polygon(80% 50%, 90% 10%, 60% 0, 0 35%, 10% 60%, 50% 100%);
          clip-path: polygon(80% 50%, 90% 10%, 60% 0, 0 35%, 10% 60%, 50% 100%);
}
body #container .box #title {
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body #container .box .play-btns {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #container .box .play-btns #play, body #container .box .play-btns #next, body #container .box .play-btns #prev {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body #container .box .other-btns {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body #container .box .other-btns #plus, body #container .box .other-btns #minus, body #container .box .other-btns #loop {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body #container .box .other-btns #loop {
  font-style: italic;
  /*border-block-start:4px solid ;
   border-inline-end: 3px solid;
   border-block-end:2px solid ;
   border-inline-start:1px solid;
  border-image-source:linear-gradient(90deg,#00e4ff,transparent);
  border-image-slice: 1;
  animation: bor 2s linear infinite ;*/
}
@-webkit-keyframes bor {
  0% {
    border-image-source: linear-gradient(90deg, #00e4ff, transparent);
  }
  50% {
    border-image-source: linear-gradient(180deg, #00e4ff, transparent);
  }
  100% {
    border-image-source: linear-gradient(360deg, #00e4ff, transparent);
  }
}
@keyframes bor {
  0% {
    border-image-source: linear-gradient(90deg, #00e4ff, transparent);
  }
  50% {
    border-image-source: linear-gradient(180deg, #00e4ff, transparent);
  }
  100% {
    border-image-source: linear-gradient(360deg, #00e4ff, transparent);
  }
}

/*節奏時間要用1分鐘除以bpm再乘以4(如果以4拍當節拍基準的話)*/
/*
@keyframes progress {
  25% {
    width: 25%;
   }
   50% {
    width: 50%;
   }
   75% {
    width: 75%;
   }
   100% {
    width: 100%;
   }
}
@keyframes beats {
  25% {
   left: 25%;
  }
  50% {
   left: 50%;
  }
  75% {
   left: 75%;
  }
  100% {
   left: 93.5%; 
  }
}
*/
@-webkit-keyframes bgMove {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
@keyframes bgMove {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}/*# sourceMappingURL=style.css.map */